html {
    font-size: 18px; /* Set the base font size to 18px */
}

body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
	background-color: #eee8d5; /* Solarized Light (white) Background */
    color: #002b36; /* Solarized Black (brblack)*/
    line-height: 1.4;
    max-width: 800px;
    margin: 0 0 1em 0.5em;
    /* padding: 0.5em; */
    border: none;
}
a {
    color: #268bd2; /* Solarized Blue (blue) */
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* Heading Styles */
h1 {
    color: #073642; /* Solarized Dark Text */
    font-size: 1.9rem; /* 45px */
    margin-top: 0; /* Remove top margin */
    margin-bottom: 0.5em; /* Consistent bottom margin */
}

h2 {
    color: #073642; /* Solarized Dark Text */
    font-size: 1.7rem; /* 36px */
	margin-top: 0; /* Remove top margin */
    margin-bottom: 0.5em; /* Consistent bottom margin */
}

h3 {
    color: #073642; /* Solarized Dark Text */
    font-size: 1.2rem; /* 27px */
	margin-top: 0; /* Remove top margin */
    margin-bottom: 0.5em; /* Consistent bottom margin */
}

/* Paragraph Styling */
p {
    font-size: 1rem; /* 18px */
}
pre {
    background: #073642; /* Solarized (brgreen) Preformatted Background */
    color: #fdf6e3; /* Solarized light (brwhite) */
    padding: 1em;
    overflow: auto;
}
hr {
    border: 0;
    height: 1px;
    background: #073642; /* Solarized (black) */
}
/* Sidebar Styles */
.sidebar {
    float: left;
    width: 200px;
    padding: 1em;
    background-color: #eee8d5; /* Solarized Light Background */
    border-right: none; 
}

.content {
    max-width: 65ch; /* Limit line length to approximately 65 characters */
	margin-left: 220px;
    padding: 1em;
}

ul.sidebar-links {
    list-style-type: none;
    padding: 0;
}

ul.sidebar-links li {
    margin: 0.5em 0;
}

