/* Define IBM Plex Mono (Regular) */
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.woff2') format('woff2'),
         url('/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.woff') format('woff'),
         url('/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Define IBM Plex Mono (Bold) */
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.woff2') format('woff2'),
         url('/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.woff') format('woff'),
         url('/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Define IBM Plex Mono (Italic) */
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/IBM_Plex_Mono/IBMPlexMono-Italic.woff2') format('woff2'),
         url('/fonts/IBM_Plex_Mono/IBMPlexMono-Italic.woff') format('woff'),
         url('/fonts/IBM_Plex_Mono/IBMPlexMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Define Libre Baskerville (Regular) */
@font-face {
    font-family: 'Libre Baskerville';
    src: url('/fonts/Libre_Baskerville/LibreBaskerville-Regular.woff2') format('woff2'),
         url('/fonts/Libre_Baskerville/LibreBaskerville-Regular.woff') format('woff'),
         url('/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Define Libre Baskerville (Bold) */
@font-face {
    font-family: 'Libre Baskerville';
    src: url('/fonts/Libre_Baskerville/LibreBaskerville-Bold.woff2') format('woff2'),
         url('/fonts/Libre_Baskerville/LibreBaskerville-Bold.woff') format('woff'),
         url('/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Define Libre Baskerville (Italic) */
@font-face {
    font-family: 'Libre Baskerville';
    src: url('/fonts/Libre_Baskerville/LibreBaskerville-Italic.woff2') format('woff2'),
         url('/fonts/Libre_Baskerville/LibreBaskerville-Italic.woff') format('woff'),
         url('/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

html {
    font-size: 18px; /* Set the base font size to 18px */
}

body {
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
	background-color: #eee8d5; /* Solarized Light (white) Background */
    color: #002b36; /* Solarized Black (brblack)*/
    line-height: 1.4;
    max-width: 800px;
    margin: 0 0 1em 0.5em;
    /* padding: 0.5em; */
    border: none;
}
a {
    font-size: 0.96rem;  /* Link text size, slightly smaller */
    color: #268bd2; /* Solarized Blue (blue) */
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* Heading Styles */
h1 {
    color: #073642; /* Solarized Dark Text */
    font-size: 1.9rem; 
    margin-top: 0; /* Remove top margin */
    margin-bottom: 0.5em; /* Consistent bottom margin */
}

h2 {
    color: #073642; /* Solarized Dark Text */
    font-size: 1.7rem; 
	margin-top: 0; /* Remove top margin */
    margin-bottom: 0.5em; /* Consistent bottom margin */
}

h3 {
    color: #073642; /* Solarized Dark Text */
    font-size: 1.2rem; 
	margin-top: 0; /* Remove top margin */
    margin-bottom: 0.5em; /* Consistent bottom margin */
}

/* Paragraph Styling */
p {
    font-size: 1rem; 
}
pre, code {
    font-family: 'IBM Plex Mono', monospace;
    background: #073642; /* Solarized (brgreen) Preformatted Background */
    color: #fdf6e3; /* Solarized light (brwhite) */
    font-family: "Courier New", Courier, monospace; /* Monospace font for better readability */
    font-size: 0.8rem; /* Slightly smaller than the body text (0.9 x 18px = ~16px) */
    padding: 1em;
    overflow: auto;
}
hr {
    border: 0;
    height: 1px;
    background: #073642; /* Solarized (black) */
}
/* Sidebar Styles */
.sidebar {
    float: left;
    width: 200px;
    padding: 1em;
    background-color: #eee8d5; /* Solarized Light Background */
    border-right: none; 
}

.content {
    max-width: 65ch; /* Limit line length to approximately 65 characters */
	margin-left: 220px;
    padding: 1em;
}

ul.sidebar-links {
    list-style-type: none;
    padding: 0;
}

ul.sidebar-links li {
    margin: 0.5em 0;
}

footer p {
    font-size: 0.8rem; /* Consistent with your link size if that's what you desire */
}
